body { background-color: #F8F8C1; color: black; }

body, p, ol, ul, td, th {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:   90%;
}

/*
 * Sections
 */

div#header {
    background-color: #1BBA13;
    color: white;
    height: 5em;
}

div#header h1 {
    padding-top: 1em;
    padding-left: 0.5em;
}

div#header .login_status {
    padding-right: 1em;
    float: right;
}

div#main {
    background-color: white;
    color: #333;
    padding: 0.5em;
    position: relative;
}

div#footer {
    background-color: #1BBA13;
    color: white;
    height: 3em;
}

div#footer ul {
    margin: 0;
    padding: 1em 0.5em;
    clear: both;
}

div#footer ul li {
    list-style: none;
    display: inline;
    padding: 0.3em 0;
    margin: 0 2px;
    background-color: #065802;
}

div#footer ul li a { 
    padding: 0 0.3em;
    color: white; 
    text-decoration: none;
}
div#footer ul li a:hover { 
    background-color: #6C0305; 
    padding: 0.3em;
}
   
    
pre {
    background-color: #eee;
    padding: 0.6em;
    font-size: 80%;
}

h1 {
    font-size: 140%;
}

a { color: #065802; }
a:hover { color: #1BBA13; }

div.field, div.actions {
    margin-bottom: 0.6em;
}

#notice {
    color: #125B12;
}

.needs_review, a.needs_review {
    color: #E3171C;
}

.printed {
    color: #0000FF;
}

.field_with_errors {
    padding: 2px;
    background-color: #E3171C;
    display: table;
}

#error_explanation {
    width: 28em;
    border: 2px solid #6C0305;
    padding: 0.5em 0.5em 0 0.5em;
    margin-bottom: 1.4em;
    background-color: #F8B0B1;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 0.4em 0.4em 0.4em 1em;
    font-size: 0.8em;
    margin: -0.5em;
    margin-bottom: 0px;
    background-color: #6C0305;
    color: #fff;
}

#error_explanation ul li {
    font-size: 80%;
    list-style: square;
}

ul.form_list {
    margin: 0;
    padding: 0;
}

ul.form_list  li {
    list-style: none;
    display: inline-block;
    margin-right: 0.25em;
}

.field label, .label_prefix {
    float: left;
    width: 16em;
}

.field label.additional {
    float: none;
    width: auto;
}

.label_after {
    padding-left: 16em;
}

.field .second_line {
    padding-left: 16em;
}
table caption {
    font-weight: bold;
}
table th, table td {
    padding: 0.2em 1em;
    text-align: left;
}

table th {
    background-color: #ACEEA8;
}
/*
 * Client page
 */

div.form-info {
    position: absolute;
    left: 20em;
}

.letter_list li {
    display: inline;
    padding-right: 1em;
}


