
<% @title = "#{@event.title} Kingdoms" %>
<h2>Kingdoms</h2>
<ul>
<% @kingdoms.each do |kingdom, count|%>
<li>
  <%= link_to(kingdom, :action=>"kingdom", :id => @event, 
    :kingdom => kingdom_link(kingdom), :format => :xml) %>
   (<%= count%> item(s)) 
</li>
<% end %>
</ul>
<%
  @links = [link_to('Back', events_path)]
%>

