<h1>Select form type</h1>

<% if @error %>
  <div id="error_explanation">
    <%= @error %>
  </div>
<% end %>
<%= render(:partial => 'forms/types',
           :locals => { :client => @client,
                        :types => @types }) %>
