<% @title = "New Account" %>

<p id="notice"><%= notice %></p>

<%= render 'form' %>

<% @links = []
   if (@account && @account.can_modify_other_accounts?) 
      @links << link_to('Back', accounts_path) 
   end
%>
