<% @title = "Account #{@account.name}" %>

<p id="notice"><%= notice %>
</p>

<p>
  <b>Name:</b>
  <%= @account.name %>
</p>

<p>
  <b>SCA Name</b>
  <%= @account.sca_name %>
</p>

<p>
  <b>Contact informationt</b>
  <%= @account.contact_info %>
</p>

<% @links = [link_to('Edit', edit_account_path(@account)),
	    link_to('Home', :controller => :session, :action => :show)] %> 